<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rates are cool</title>
</head>
<body>
<h3>Your Requested Rate</h3>
<ul>
    <li>Mail Type: <%= mailType %></li>
    <li>Weight: <%= weight %></li>
    <li><strong>Rate: $<%= rate %></strong></li>
</ul>
</body>
</html>